<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Lidia.Webhooks" connectionString="Data Source=31.210.81.196;Initial Catalog=lidia.subscription;User Id=tgworkshop;Password=tg01Workshop" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>